*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #161616;
    height: 100vh;
    
}


/* FrontPage */
.frontpage{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
/* Content page */
.Content{
    position: relative;
    right: 200px;
    display: flex;
    flex-direction: column;
}
.Content h5{
    color: white;
    font-size: 30px;
    letter-spacing: 5px;
    font-family: "Playwrite AU SA", serif;
    margin-bottom: 30px;
}
.Content h1{
    color: rgb(255, 136, 0);
    font-size: 80px;
    font-family: "Rowdies", serif;
    letter-spacing: 5px;
}
.Content h2{
    color: white;
    font-size: 30px;
    letter-spacing: 5px;
    font-family: "Teko", serif;
    font-weight: 500;
}
.Content h4{
     color: white;
     font-size: 18px;
     letter-spacing: 3px;
     font-family: "Della Respira", serif;
}
.Content button{
    height: 50px;
    width: 160px;
    background-color:rgb(255, 128, 0) ;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    margin-top: 50px;
    font-family: "Krona One", serif;
    box-shadow: 0 0 7px rgb(255, 128, 0);
    cursor: pointer;
}
.Content button:hover{
    background-color: white;
    box-shadow: 0 0 13px rgb(255, 128, 0);
    color:rgb(255, 128, 0) ;
}

.image{
    position: fixed;
    right: 0;
    bottom: 0;
   width: 550px;
}
.image2{
    display: none;
}







/* About */
.Aboutpage{
    display: none;
}
.summa{
    
}
.About-Content{
    
}
.About-Content-img{
   
} 





/* Media  1300*/

@media screen and (max-width:1300px) {
    /* FrontPage */
    .image{
        width: 450px;
    }
    .Content{
        right: 150px;
    }
    .Content h5{
        font-size: 20px;
    }
    .Content h1{
        font-size: 50px;
    }
    .Content h2{
        font-size: 20px;
    }
    .Content h4{
        font-size: 15px;
    }
    .Content button{
        height: 40px;
        width: 120px;
        font-size: 11px;
    }
    /* End Frontpage */
}


/* Media 1000 */
@media screen and (max-width:1000px) {
    
}

/* Media 800*/

@media screen and (max-width:800px) {
    /* Frontpage */

}


/* Media 450 */
@media screen and (max-width:450px) {
    /* FrontPage */
    .Content{
        position: fixed;
        bottom: 100px;
        left: auto;
        right: auto;
        z-index: 2;
        align-items: center;
    }
    .Content h5{
        /* font-size: 15px;
        margin-bottom: 20px; */
        display: none;
    }
    .Content h1 span{
        font-size: 30px;
        color: white;
    }
    .Content h1{
        text-align: center;
        font-size: 50px;
        width: 250px;
    }
    .Content h2{
        font-size: 18px;
        width: 300px;
        margin-left: 40px;
        margin-top: 10px;
    }
    .Content h4{
        margin-top: 10px;
        font-size: 13px;
    }
    .Content button{
        height: 35px;
        width: 100px;
        font-size: 8px;
        margin-top: 30px;
    }
    .image{
        width: 500px;
        right: -40px;
        z-index: 1;
        opacity: 0.2;
    }
    .image2{
        display: none;
        position: fixed;
        top: 100px;
        width: 300px;
        z-index: 2;
    }
}